<div class="row">
    <div class="col-12 text-right">
        <button mat-raised-button [routerLink]="['/users','addUser']"
        color="primary">Add User</button>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <mat-list>
            <mat-list-item *ngFor="let user of userArr"
            (click)="selId = user.userId"
            [ngClass]="{active : user.userId === selId}"
            [routerLink]="[user.userId]"
            [queryParams]="{editUser : user.userRole}">
              {{user.userName}}
            </mat-list-item>
          </mat-list>
    </div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
</div>
