<div class="col-md-8 p-4" *ngIf="userObj; else noProduct">
    <mat-card class="text-center mat-elevation-z7 p-4">
        <mat-card-header>
            <h4>
               User Name : {{userObj.userName}}
            </h4>
        </mat-card-header>
        <img mat-card-image [src]="userObj.userImage" alt="">

        <mat-card-content>
            <h4>
               User Role : {{userObj.userRole}}
            </h4>
        </mat-card-content>
        <mat-card-footer>
            <button mat-raised-button color="primary" class="my-2"
            [routerLink]="['/users',userObj.userId,'edit']"
            [queryParamsHandling]="'preserve'">
            Edit User</button>
        </mat-card-footer>
    </mat-card>
</div>
<ng-template #noProduct>
    <p class="alert alert-info">Please Click on any Product Names to View Product Info</p>
</ng-template>
